.table {
    background-color: #fff!important;
}

.react-bootstrap-table>.table>tbody>tr>td, .react-bootstrap-table>.table>thead>tr>th {
    border-left: none!important;
    border-right: none!important;
}

.table, .table>thead {
    border-radius: 4px!important;
}

@media only screen and (max-width: 992px) {
    .table>thead>tr>th.column-optional, .table>tbody>tr>td.column-optional {
        display: none;
    }
    #pageDropDown {
        display: none;
    }
}